body {
  margin: 0 0;
}
.main {
  width: 100vw;
  height: 100vh;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0;
}

.start-field {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-field_hiden {
  display: none;
}

.start-img {
  max-height: 50%;
}

.btn {
  height: 2em;
  width: 10em;
  margin: 5px 25px;
  border: 3px black solid;
  background-color: chocolate;
  border-radius: 50px;
  font-weight: 800;
  font-size: 2em;
}

.game-field {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: auto;
  border: 3px black solid;
  border-radius: 5px;
  background-color: SandyBrown;
}

.game-field_visible {
  display: flex;
}

.attempts {
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 0 5px 25px 0;
  font-size: 1em;
}

.word-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  width: 95%;
  height: auto;
}
.box {
  min-height: 1em;
  min-width: 1em;
  font-size: 3em;
  margin: 5px 5px;
  border: 3px black solid;
  border-radius: 5px;
  background-color: bisque;
}

.box-letter {
  display: none;
  min-height: 1em;
  min-width: 1em;
  /* font-size: 1em; */
  background-color: DarkOrange;
  border: 3px black solid;
  border-radius: 5px;
}

.box-letter_visible {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 3s linear 0s rotate;
}

.description-field {
  width: 95%;
  min-height: 3em;
  margin-top: 50px;
  padding: 0 5px;
  border: 3px black solid;
  border-radius: 5px;
  background-color: Cornsilk;
  font-size: 1em;
  text-align: justify;
}

.input-word-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

input {
  height: 2em;
  width: 10em;
  border: 3px black solid;
  border-radius: 5px;
  padding: 0 2px;
  margin: 5px 5px;
  font-size: 1em;
  background-color: Cornsilk;
}

.enter-btn_visible {
  display: block;
}

.modal-field {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-field_visible {
  display: flex;
}

.modal-box {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  /* height:  */
  border: 3px black solid;
  border-radius: 5px;
  background-color: bisque;
}

.loser {
  display: none;
}

.loser p {
  margin: 5px 5px;
}

.winner {
  display: none;
}
.winner p {
  margin: 5px 5px;
}

.loser_visible {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: 800;
  width: 100%;
}

.winner_visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 800;
  width: 100%;
}

.donna-wink {
    max-height: 10%;
    max-width: 100%;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

/* @media screen and (min-width: 375px) {
    .box {
        height: 50px;
        width: 50px;
    }
    
    .box-letter {
        height: 50px;
        width: 50px;
        font-size: 50px;
    }
    
  } */
